<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description"
        content="">
    
    <meta name="keywords"
        content="">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/main.min.css">
    <script defer src="assets/libs/swiper.js"></script>
    <script defer src="assets/libs/jquery.min.js"></script>
    <script defer src="assets/libs/fancybox.umd.js"></script>
    <script defer src="assets/libs/popper.min.js"></script>
    <script defer src="assets/libs/tippy-bundle.umd.min.js"></script>
    <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=71b2368b-427a-4d7a-8d3a-a27bbb3be2eb"
        type="text/javascript"></script>
    <script defer src="assets/js/app.js"></script>

</head>


<body {% if bodyClass %}class="{{ bodyClass }}" {% endif %}>

    {% include "header.html" %}

    {% block content %}{% endblock %}

    {% include "footer.html" %}

</body>

</html>