{% set title = "Все проекты" %} {% set bodyClass = "services-page" %} {% extends
"default.html" %} {% block content %}
<main>
  <section class="banner__bg">
    <div class="banner">
      <div class="grid-container banner__grid">
        <div class="banner__content-left">
          <div class="banner__logo-wrapper">
            <img src="assets/img/logo.svg" alt="Logo">
          </div>
          <div class="banner__services-link-wrtapper">
            <a href="" class="banner__services-link">
              к проектам
            </a>
          </div>
          <div class="banner__title-wrapper">
            <h2 class="banner__title">
              Все проекты
            </h2>
          </div>
        </div>
        <div class="banner__content-right">
          <div class="banner__content-map-block">
            <p class="banner__content-label">Регион</p>
            <p class="banner__content-map">Орел и вся Россия</p>
          </div>
          <a href="+74862302090" class="banner__content-tel">8 (4862) 30-20-90</a>
          <button data-fancybox="test" data-src="#order" data-type="inline" class="btn-border banner__content-button ">
            Оставить заявку
          </button>
          <div style="display: none" id="order" class="call__modal">
            <p class="call__title">
              Заказать дизайн-проект / задать вопрос
            </p>
            <p class="call__desc">
              Оставьте контактные данные и менеджер перезвонит Вам в ближайшее время.
            </p>
            <form action="" method="get" class="form form--call">
              <div class="form__block">
                <div class="form__input-block">
                  <label for="name">
                    <input type="text" name="name" id="name" required placeholder="Имя" />
                  </label>
                </div>
                <div class="form__input-block">
                  <label for="tel">
                    <input type="tel" name="tel" id="tel" placeholder="Телефон" required />
                  </label>
                </div>
                <div class="form__input-block">
                  <label for="email">
                    <input type="email" name="email" id="email" required placeholder="E-mail" />
                  </label>
                </div>
                <div class="checkbox__item">
                  <label for="check2">
                    <input class="checkbox__input" type="checkbox" name="check2" id="check2">
                    <span class="checkbox__custom"></span>
                    <span class="checkbox__text">
                      Я согласен с условиями передачи данных.<br> <a href="">Соглашение.</a>
                    </span>
                  </label>
                </div>
              </div>
              <div class="form__btn-wrapper">
                <button data-fancybox="test" data-src="#call" data-type="inline" class="btn-orange form__btn"
                  type="submit">Заказать звонок</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="grid-container">
        <ul class="projects__list">
          <li class="projects__item active">
            <a href="/" class="projects__item-link">
              Все&nbsp;проекты
            </a>
          </li>
          <li class="projects__item">
            <a href="/" class="projects__item-link">
              сайт-визитка
            </a>
          </li>
          <li class="projects__item">
            <a href="/" class="projects__item-link">
              интернет-магазин
            </a>
          </li>
          <li class="projects__item">
            <a href="/" class="projects__item-link">
              фирменный&nbsp;стиль
            </a>
          </li>
          <li class="projects__item">
            <a href="/" class="projects__item-link">
              web-баннеры
            </a>
          </li>
          <li class="projects__item">
            <a href="/" class="projects__item-link">
              полиграфия
            </a>
          </li>
        </ul>

      </div>

      <div class="container">
        <div class="projects__content">
          <div class="projects__content-nav">
            <button class="projects__content-btn projects__content-btn--prev">

            </button>
            <p class="projects__content-title">
              Лендинг “ Пицбургер”
            </p>
            <button class="projects__content-btn projects__content-btn--next">

            </button>


          </div>
        </div>


        <div class="services-page__swiper-wrapper">


          <div class="services-page__swiper">








            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(assets/img/qq1.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq2.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq3.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq4.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq5.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq6.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq7.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq8.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq9.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq10.jpg)"></div>
              </div>

            </div>
            <div class="swiper-container gallery-thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(assets/img/qq1.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq2.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq3.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq4.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq5.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq6.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq7.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq8.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq9.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/qq10.jpg)"></div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>


          <div class="services-page__swiper-desc-box">
            <ul class="services-page__swiper-desc-list">
              <li class="services-page__swiper-desc-item">
                <p class="services-page__swiper-desc-title">
                  Тип сайта:
                </p>
                <p class="services-page__swiper-desc-text">
                  Лендинг
                </p>
              </li>
              <li class="services-page__swiper-desc-item">
                <p class="services-page__swiper-desc-title">
                  Название:
                </p>
                <p class="services-page__swiper-desc-text">
                  Пицбургер Пицбургер Пицбургер
                </p>
              </li>
              <li class="services-page__swiper-desc-item">
                <p class="services-page__swiper-desc-title">
                  Количество страниц:
                </p>
                <p class="services-page__swiper-desc-text">
                  1
                </p>
              </li>
              <li class="services-page__swiper-desc-item">
                <p class="services-page__swiper-desc-title">
                  Платформа:
                </p>
                <p class="services-page__swiper-desc-text">
                  Bitrix
                </p>
              </li>
              <li class="services-page__swiper-desc-item">
                <p class="services-page__swiper-desc-title">
                  Год создания:
                </p>
                <p class="services-page__swiper-desc-text">
                  2022
                </p>
              </li>
              <li class="services-page__swiper-desc-item">
                <p class="services-page__swiper-desc-title">
                  Город:
                </p>
                <p class="services-page__swiper-desc-text">
                  Орел
                </p>
              </li>
              <li class="services-page__swiper-desc-item">
                <p class="services-page__swiper-desc-title">
                  Адрес:
                </p>
                <a href="" class="services-page__swiper-desc-text services-page__swiper-desc-link">
                  www.resource.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="prjct__form grid-container">
    <div class="form__wrapper">
      <form action="" method="get" class="form">
        <div class="form__title-wrapper">
          <p class="form__title">
            Заказать дизайн-проект / задать вопрос
          </p>
        </div>
        <div class="form__block">
          <div class="form__input-block">
            <label for="name">
              <input type="text" name="name" id="name" required placeholder="Имя" />
            </label>
          </div>
          <div class="form__input-block">
            <label for="tel">
              <input type="tel" name="tel" id="tel" placeholder="Телефон" required />
            </label>
          </div>

          <div class="form__input-block">
            <label for="email">
              <input type="email" name="email" id="email" required placeholder="E-mail" />
            </label>
          </div>

          <div class="checkbox__item">
            <label for="check1">
              <input class="checkbox__input" type="checkbox" name="check1" id="check1">
              <span class="checkbox__custom"></span>
              <span class="checkbox__text">
                Я согласен с условиями передачи данных.<br> <a href="">Соглашение.</a>
              </span>
            </label>
          </div>

        </div>
        <div class="form__btn-wrapper">
          <button class="btn-orange form__btn" type="submit">Отправить сообщение</button>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}