{% set title = "gattaka" %} {% set bodyClass = "is-landing" %} {% extends
"default.html" %} {% block content %}
<main>

  <ul style="margin-top: 50px; margin-bottom: 50px;" class="grid-container">
    <li style="margin-bottom: 10px;">
      <a style="font-size: 22px; color: #222;" href="index1.html"> Главная - index1 </a>
    </li>
    <li style="margin-bottom: 10px;">
      <a style="font-size: 22px; color: #222;" href="index2.html"> Все проекты- index2 </a>
    </li>
  </ul>

</main>



{% endblock %}