{% set title = "gattaka" %} {% set bodyClass = "contacts-page" %} {% extends
"default.html" %} {% block content %}

<section class="contacts">
  <div class="grid-container">
    <div class="contacts__title-wrapper">
      <h2 class="contacts__title">
        Контактная информация
      </h2>
    </div>
    <div class="contacts__desc-wrapper">
      <p class="contacts__desc">
        Работаем по всей России
      </p>
    </div>
    <ul class="contacts__list">
      <li class="contacts__item contacts__item--city">
        <p class="contacts__city">
          Орел
        </p>
      </li>
      <li class="contacts__item contacts__item--call">
        <a href="" class="contacts__call">
          Заказать обратный звонок
        </a>
      </li>

      <li class="contacts__item contacts__item--adress">
        <p class="contacts__adress">
          Адрес: 117630, <span>ул. Михалицына, д.10</span>
        </p>
      </li>
      <li class="contacts__item contacts__item--mail">
        <p class="contacts__mail">
          E-mail: <a href="mailto:gattaka@com" type="mail">gattaka@com</a>
        </p>
        <a class="contacts__social-link" href="http://">
          <img src="assets/img/wa.svg" class="svg">
        </a>
        <a class="contacts__social-link" href="http://">
          <img src="assets/img/tlgm.svg" class="svg">
        </a>
      </li>
      <li class="contacts__item contacts__item--tel">
        <p class="contacts__tel">
          Тел.:
          <a href="tel:+7800350-00-87" type="tel">8 (800) 350-00-87</a>
        </p>
      </li>
    </ul>

  </div>
  <div class="contacts__map">
    <script type="text/javascript" charset="utf-8" async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A75588bbcc9896dfcaef0492b733e383467a1bb271ac0f8cadb473f8469082b8c&amp;width=100%25&amp;height=313&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</section>
<section class="prjct__form grid-container">
  <div class="form__wrapper">
    <form action="" method="get" class="form">
      <div class="form__title-wrapper">
        <p class="form__title">
          Заказать дизайн-проект / задать вопрос
        </p>
      </div>
      <div class="form__block">
        <div class="form__input-block">
          <label for="name">
            <input type="text" name="name" id="name" required placeholder="Имя" />
          </label>
        </div>
        <div class="form__input-block">
          <label for="tel">
            <input type="tel" name="tel" id="tel" placeholder="Телефон" required />
          </label>
        </div>

        <div class="form__input-block">
          <label for="email">
            <input type="email" name="email" id="email" required placeholder="E-mail" />
          </label>
        </div>

        <div class="checkbox__item">
          <label for="check1">
            <input class="checkbox__input" type="checkbox" name="check1" id="check1">
            <span class="checkbox__custom"></span>
            <span class="checkbox__text">
              Я согласен с условиями передачи данных.<br> <a href="">Соглашение.</a>
            </span>
          </label>
        </div>

      </div>
      <div class="form__btn-wrapper">
        <button class="btn-orange form__btn" type="submit">Отправить сообщение</button>
      </div>
    </form>
  </div>
</section> 




{% endblock %}