{% set title = "gattaka" %} {% set bodyClass = "is-landing" %} {% extends
"default.html" %} {% block content %}
<main>

  <section class="banner__bg">
    <div class="banner">
      <div class="grid-container banner__grid">
        <div class="banner__content-left">
          <div class="banner__logo-wrapper">
            <img src="assets/img/logo.svg" alt="Logo">
          </div>
          <div class="banner__title-wrapper">
            <h1 class="banner__title">
              <span class="banner__title--1"> Разработка <span class="banner__title--line">под ключ</span></span><br>
              <span class="banner__title--2">вашего дизайн-проекта</span>
            </h1>
          </div>
        </div>
        <div class="banner__content-right">
          <div class="banner__content-map-block">
            <p class="banner__content-label">Регион</p>
            <p class="banner__content-map">Орел и вся Россия</p>
          </div>
          <a href="+74862302090" class="banner__content-tel">8 (4862) 30-20-90</a>
          <button class="banner__content-button">
            Оставить заявку
          </button>
        </div>
        <div class="banner__content-bottom">
          <div class="banner__content-block">
            <img src="assets/img/b1.svg">
            <p class="banner__content-block-text">
              <a href="">Создаем</a>&nbspсайты более 10 лет
            </p>
          </div>
          <div class="banner__content-block banner__content-block--right">
            <img src="assets/img/b2.svg">
            <p class="banner__content-block-text">
              Выполнение
              проектов
              под ключ
            </p>
          </div>
          <div class="banner__content-block">
            <img src="assets/img/b3.svg">
            <p class="banner__content-block-text">
              Работаем
              по всей
              России
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="complex">
    <div class="grid-container">
      <div class="complex__title-wrappper">
        <p class="complex__title">
          Полный комплекс услуг
        </p>
      </div>
      <ul class="complex__list">
        <li class="complex__item complex1">
          <img src="assets/img/c1.svg">
          <p>
            Создание
            концепции
          </p>
        </li>
        <li class="complex__item complex__item--arrow arrow1">
          <img src="assets/img/ca.svg">
        </li>
        <li class="complex__item complex2">
          <img src="assets/img/c2.svg">
          <p>
            Формирование
            фирменного
            стиля
          </p>
        </li>
        <li class="complex__item complex__item--arrow arrow2">
          <img src="assets/img/ca.svg">
        </li>
        <li class="complex__item complex3">
          <img src="assets/img/c3.svg">
          <p>
            Дизайн
            проекта
          </p>
        </li>
        <li class="complex__item complex__item--arrow arrow3">
          <img src="assets/img/ca.svg">
        </li>
        <li class="complex__item complex4">
          <img src="assets/img/c4.svg">
          <p>
            Frontend
            и Backend
            разработка
          </p>
        </li>
        <li class="complex__item complex__item--arrow arrow4">
          <img src="assets/img/ca.svg">
        </li>
        <li class="complex__item complex5">
          <img src="assets/img/c5.svg">
          <p>
            Тестирование
            проекта
          </p>
        </li>
        <li class="complex__item complex__item--arrow arrow5">
          <img src="assets/img/ca.svg">
        </li>
        <li class="complex__item complex6">
          <img src="assets/img/c6.svg">
          <p>
            Реклама
            и продвижение
          </p>
        </li>
      </ul>


    </div>
  </section>

  <section class="projects">
    <div class="grid-container">
      <div class="projects__title-wrapper">
        <h2 class="projects__title">
          Все <span>проекты</span><br>
          нашей дизайн-cтудии
        </h2>
      </div>
      <ul class="projects__list">
        <li class="projects__item active">
          <a href="/" class="projects__item-link">
            Все&nbsp;проекты
          </a>
        </li>
        <li class="projects__item">
          <a href="/" class="projects__item-link">
            сайт-визитка
          </a>
        </li>
        <li class="projects__item">
          <a href="/" class="projects__item-link">
            интернет-магазин
          </a>
        </li>
        <li class="projects__item">
          <a href="/" class="projects__item-link">
            фирменный&nbsp;стиль
          </a>
        </li>
        <li class="projects__item">
          <a href="/" class="projects__item-link">
            web-баннеры
          </a>
        </li>
        <li class="projects__item">
          <a href="/" class="projects__item-link">
            полиграфия
          </a>
        </li>
      </ul>

      <div class="projects__content">
        <div class="projects__content-nav">
          <button class="projects__content-btn projects__content-btn--prev">

          </button>
          <p class="projects__content-title">
            Сайт-визитка
          </p>
          <button class="projects__content-btn projects__content-btn--next">

          </button>
        </div>
        <div class="projects__windows">
          <img class="projects__windows-wrapper" src="assets/img/prwindow.png">
          <img class="projects__windows-wrapper--mobile " src="assets/img/prwindow-mob.png" alt="">
          <img class="projects__windows-img projects__windows-img--1" src="assets/img/p1.jpg">
          <img class="projects__windows-img projects__windows-img--2" src="assets/img/p2.jpg">
          <img class="projects__windows-img projects__windows-img--3" src="assets/img/p3.jpg">
          <div class="projects__windows-desc">
            <p class="projects__windows-desc-title">
              Тип проекта:
            </p>
            <p class="projects__windows-desc-text">
              сайт-визитка
            </p>
            <p class="projects__windows-desc-title">
              Город: Орел
            </p>
            <a href="" class="projects__windows-desc-link">
              Узнать больше
            </a>
          </div>
        </div>
        <div class="projects__map-block">
          <p class="projects__map-text">
            Создаем <span>надежные</span> сайты<br>
            сайты по всей России
          </p>
          <img class="projects__map-img" src="assets/img/pmap.png">
          <button class="projects__map-btn">
            Заказать звонок
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="market">
    <div class="grid-container">
      <div class="market__bubble">
        Макетплейсы
      </div>
      <div class="market__title-block">
        <h2 class="market__title">
          Настройка выгрузок в макетплейсы
        </h2>
        <h3 class="market__subtitle">
          Настроим фиды и api для выгрузок
        </h3>
      </div>
      <div class="market__shop-block">
        <div class="market__shop">
          <img src="assets/img/m1.png">
          <p class="market__shop-text">
            Озон
          </p>
        </div>
        <div class="market__shop">
          <img src="assets/img/m2.png">
          <p class="market__shop-text">
            Яндекс.Маркет
          </p>
        </div>
        <div class="market__shop">
          <img src="assets/img/m3.png">
          <p class="market__shop-text">
            Сбермегамаркет
          </p>
        </div>
      </div>
      <button class="market__shop-btn">
        Узнать больше
      </button>
    </div>
  </section>

</main>



{% endblock %}