$anim: 0.3s ease-in-out
$gray: #38384A
$orange: #EF4926
$green: #50B566

// Баннер
@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max, $max)
  $k: calc(($f-max - $f-min) / ($v-max - $v-min))
  $b: $f-min - $k * $v-min
  $b: $b * 1px
  $m: $max * 1px
  $y: calc( #{$k} * 100vw + #{$b} )
  @return min( #{$y}, #{$m} )

  // Шапка
.header
  &__area
    min-height: 63px
    grid-template-columns: repeat(3, auto)
    grid-auto-flow: column
    align-items: center
    justify-content: space-between
  &__left
    align-self: center
  &__right
    display: grid
    grid-auto-flow: column
    align-items: center
    gap: 20px
  &__list
    display: grid
    grid-auto-flow: column
    gap: 30px
    align-items: baseline
  &__center
    gap: 30px
    display: grid
    grid-auto-flow: column
    align-items: center
    position: relative
    top: 8px
  &__social
    display: grid
    grid-auto-flow: column
    gap: 25px
  &__link
    color: $gray
    font-size: 12px
    font-weight: 700
    line-height: 17px
    text-transform: uppercase
    transition: color $anim
    cursor: pointer
    &:active, &:focus, &:hover
      color: $orange
    &--list
      display: grid
      grid-auto-flow: column
      gap: 5px
      align-items: center
    svg path 
      transition: fill $anim
    &:active svg path, &:focus svg path, &:hover svg path
      fill: $orange
  &__tel
    color: $gray
    font-size: 13px
    font-weight: 700
    line-height: 17px
    text-transform: uppercase
    transition: color $anim
    &:active, &:focus, &:hover
      color: $orange
  &__mode-text
    color: $gray

    font-size: 10px
    font-weight: 400
    line-height: 17px
    text-transform: uppercase
    transition: color $anim
  &__social-link
    .svg path
      transition: fill $anim
    &:hover svg path, &:focus svg path, &:active svg path
      fill: $orange
    &--2
      display: none
  &__call
    color: $orange
    font-size: 13px
    font-weight: 600
    line-height: 17px
    display: grid
    grid-auto-flow: column
    align-items: center
    gap: 10px
    cursor: pointer
    span
      position: relative
      &::before
        content: ""
        position: absolute
        border-bottom: 2px dashed $orange
        width: 100%
        height: 2px
        bottom: -2px
        left: 50%
        transform: translateX(-50%)

    &:active, &:focus, &:hover
      color: $orange
    svg path 
      transition: fill $anim
    &:hover svg path, &:focus svg path, &:active svg path
      fill: $orange

.submenu
  &__list
    display: grid
    gap: 10px
  &__link
    cursor: pointer
    color: $gray
    font-size: 14px
    font-weight: 400
    line-height: 17px
    &:active, &:focus, &:hover
      text-decoration-line: underline
      color: $gray

@media all and ($small)
  .header
    &__center
    &__right
      span
        display: none
    &__social-link
      &--1
        display: none
      &--2
        display: grid
        grid-auto-flow: column
        gap: 25px
    &__center
      justify-self: center
      gap: 0
  @media all and ($extraSmall)
    .header
      &__area
        grid-template-columns: repeat(2, auto )
      &__left
        display: none
      &__center
        gap: 10px

.burger
  display: block
  position: relative
  width: 25px
  height: 19px
  background-color: transparent
  border: none
  cursor: pointer
  &__line
    position: absolute
    left: 50%
    transform: translateX(-50%)
    width: 25px
    height: 2px
    background-color: #9797A0
    &:first-child
      top: 2px
    &:nth-child(2)
      top: 50%
      transform: translate(-50%, -50%)
    &:last-child
      bottom: 2px
  &--active
    z-index: 1001
    .burger__line:first-child
      left: 25%
      top: 50%
      transform: rotate(45deg)
      transform-origin: center
      transition: transform $anim, top $anim, left $anim
    .burger__line:nth-child(2)
      opacity: 0
    .burger__line:last-child
      left: 25%
      top: 50%
      transform: rotate(-45deg)
      transform-origin: center
      transition: transform $anim, top $anim, left $anim

.navigation-mobile
  display: none
  @media all and ($extraSmall)
    position: relative
    display: block

.header__list-mobile
  display: flex
  flex-direction: column
  position: fixed
  left: 0
  top: 63px
  width: 100%
  height: calc(100vh - 63px - 240px)
  z-index: 100
  padding-left: 15px
  padding-top: 30px
  box-shadow: 0px 5px 40px rgb(0 0 0 / 10%)
  background: #F7F8FB
  border-radius: 0 0 3px 3px
  gap: 15px
  overflow-y: auto
  visibility: hidden
  transform: translateX(-120%)
  transition: visibility $anim, transform $anim
  padding-right: 15px
  &--active
    visibility: visible
    transform: none
    .header__item
      position: relative
    .header__link
      font-size: 12px
      font-weight: 700
      line-height: 17px
      text-transform: uppercase
      color: $gray
      display: grid
      transition: color $anim
      grid-auto-flow: column
      gap: 10px
      justify-content: start
      &::after
        display: block
        position: absolute
        content: ""
        background: url(/assets/img/arrow.svg)
        width: 7px
        height: 10px
        background-position: center
        background-size: cover
        top: 4px
        right: 0
        background-repeat: no-repeat
        transition: background $anim
      &:hover, &:focus, &:active
        color: $orange
      .svg path
        transition: fill $anim
      &:hover .svg path, &:focus .svg path, &:active .svg path
        fill: $orange
      &:hover::after, &:focus::after, &:active::after
        background: url(/assets/img/arrow2.svg)
    .header__list-mobile--2
      padding-top: 20px
      padding-bottom: 10px
      padding-left: 25px
      display: grid
      gap: 10px
      .header__link
        font-size: 13px
        text-transform: none

  // 1 экран

.banner
  position: relative
  background: url(/assets/img/banner.jpg)
  width: 100%
  height: 100%
  min-height: 706px
  background-repeat: no-repeat
  background-position: center
  z-index: 0
  @media all and ($medium)
    background-size: cover
    min-height: 552px
    background-position: 80%
  @media all and ($small)
    min-height: 450px
  @media all and ($extraSmall)
    height: 100%
    background-size: 150%
    background-position: center -20vw
  &__bg
    background: #F5F6FA
    @media all and ($extraSmall)
      height: 100%
  &__grid
    grid-auto-flow: column
    gap: 40px
    justify-content: space-between
    align-items: start
  &__title-wrapper
    padding-top: 100px
    @media all and ($extraSmall)
      padding-top: 60px
  &__title
    position: relative
    color: #F6F5FA
    font-size: 36px
    font-weight: 700
    line-height: 45px
    &--line
      color: $orange
      font-size: 36px
      font-weight: 700
      line-height: 45px
      text-decoration-line: underline
      @media all and ($small)
        font-size: 26px
      @media all and ($extraSmall)
        font-size: 19px
        line-height: 28px
    &--1
      padding: 15px 25px
      background: #39384A
      position: relative
      z-index: 1
      @media all and ($extraSmall)
        padding: 10px 20px
    &--2
      padding: 15px 25px
      background: #39384A
      position: relative
      z-index: 0
      @media all and ($extraSmall)
        padding: 10px 20px
    @media all and ($small)
      font-size: 26px
    @media all and ($extraSmall)
      font-size: 19px
      line-height: 28px

  &__logo-wrapper
    padding-top: 46px
  &__content-right
    padding-top: 15px
    display: grid
    align-items: start
    gap: 15px
    margin-right: 34px
    justify-self: end
    @media all and ($extraSmall)
      display: none
  &__content-label
    font-size: 12px
    font-weight: 400
    line-height: 14px
    color: $gray
  &__content-map-block
    display: grid
    gap: 2px
  &__content-map
    font-size: 14px
    font-weight: 700
    line-height: 19px
    color: $orange
    position: relative
    &::before
      position: absolute
      content: ""
      top: 50%
      transform: translateY(-50%)
      left: -25px
      background: url(/assets/img/map.svg)
      width: 15px
      height: 19px
      background-repeat: no-repeat
      background-position: center
  &__content-tel
    color: $gray
    font-size: 18px
    font-weight: 700
    line-height: 24px
    transition: color $anim
    position: relative
    &::before
      position: absolute
      content: ""
      top: 50%
      transform: translateY(-50%)
      left: -25px
      background: url(/assets/img/tel2.svg)
      width: 18px
      height: 18px
      background-repeat: no-repeat
      background-position: center
    &:active, &:focus, &:hover
      color: $orange
  &__content-button
    color: $orange
    font-size: 16px
    font-weight: 700
    line-height: 40px
    padding: 0 20px
    border-radius: 50px
    border: 2px solid #F44519
    background: transparent
    margin-left: -25px
  &__content-bottom
    display: grid
    grid-template-columns: minmax(239px, 305px) minmax(217px, 270px) minmax(192px, 242px)
    gap: 50px
    grid-column: 1/3
    grid-row: 2/3
    align-self: end
    margin-top: 205px
    justify-content: space-between
    @media all and ($small)
      gap: 20px
    @media all and ($extraSmall)
      margin-top: 25px
      grid-template-columns: 1fr
      justify-items: start
      grid-column: 1/2
  &__content-block
    display: grid
    grid-auto-flow: column
    gap: 20px
    align-items: center
    &:last-child
      justify-self: end
      @media all and ($extraSmall)
        justify-self: start
    &--right
      margin-left: 70px
      @media all and ($medium)
        margin-left: 0
    @media all and ($small)
      gap: 10px

    img
      min-width: 130px
      @media all and ($small)
        width: 100px
        height: 100px
        min-width: 100px
  &__content-block-text
    color: $gray
    font-size: 18px
    font-weight: 700
    line-height: 21px
    @media all and ($small)
      font-size: 16px
    a
      display: inline
      color: $orange
      font-size: 18px
      font-weight: 700
      line-height: 21px
      text-decoration-line: underline
      @media all and ($small)
        font-size: 16px

.complex
  padding-top: 20px
  padding-bottom: 60px
  background: #F5F6FA
  &__title
    color: $gray
    text-align: center
    font-size: 12px
    font-weight: 700
    line-height: 17px
    text-transform: uppercase
    position: relative
    padding: 0 20px
    background: #F5F6FA
    z-index: 2
    width: fit-content

  &__title-wrappper
    position: relative
    width: 100%
    display: flex
    justify-content: center
    &::before
      position: absolute
      content: ""
      height: 1px
      width: 100%
      left: 0
      top: 50%
      transform: translateY(-50%)
      z-index: 0
      background: #B7B6C7

  &__list
    display: grid
    // grid-auto-flow: column
    gap: 2px
    justify-content: space-between
    grid-template-columns: repeat( auto-fit, minmax(71px, 90px) )
    margin-top: 30px
    justify-items: center
    grid-template-areas: "c1 a1 c2 a2 c3 a3 c4 a4 c5 a5 c6"
    @media all and ($small)
      grid-template-areas: "c1 a1 c2 a2 c3 a3 c4" ". . c5 a5 c6 . ."
      gap: 30px 2px
    @media all and ($extraSmall)
      grid-template-areas: "c1 a1 c2" "c3 a3 c4" "c5 a5 c6"
      justify-content: center
  &__item
    display: grid
    gap: 25px
    position: relative
    justify-items: center
    &--arrow
      padding-top: 30px
    p
      color: $gray
      font-size: 14px
      font-weight: 400
      line-height: 17px

.complex1
  grid-area: c1
.complex2
  grid-area: c2
.complex3
  grid-area: c3
.complex4
  grid-area: c4
.complex5
  grid-area: c5
.complex6
  grid-area: c6
.arrow1
  grid-area: a1
.arrow2
  grid-area: a2
  @media all and ($extraSmall)
    display: none
.arrow3
  grid-area: a3
.arrow4
  grid-area: a4
  @media all and ($small)
    display: none
.arrow5
  grid-area: a5

.projects
  background: $gray
  padding-top: 60px
  padding-bottom: 60px
  &__title-wrapper
    padding-bottom: 40px
    @media all and ($extraSmall)
      padding-bottom: 30px
  &__title
    color: #FFF
    font-size: 36px
    font-weight: 700
    line-height: 45px
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 34px
    span
      color: #EF4926
      text-decoration-line: underline
  &__list
    display: flex
    gap: 15px 30px
    justify-content: start
    flex-wrap: wrap
    @media all and ($extraSmall)
      gap: 10px 20px
  &__item-link
    color: $orange
    font-size: 12px
    font-weight: 700
    line-height: 29px
    text-transform: uppercase
    transition: color $anim
    &:active, &:focus, &:hover
      color: #fff

  .projects__item.active
    .projects__item-link
      border-radius: 50px
      border: 2px solid #FFF
      padding: 0 20px
      color: #fff
  &__content-nav
    margin-top: 52px
    display: grid
    grid-auto-flow: column
    justify-content: space-between
    align-items: center
    gap: 10px
    @media all and ($extraSmall)
      margin-top: 30px
  &__content-title
    color: #FFF
    text-align: center
    font-size: 30px
    font-weight: 400
    line-height: 41px
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 30px
  &__content-btn
    background: url(/assets/img/pbtn.svg)
    width: 42px
    height: 42px
    background-repeat: no-repeat
    background-size: cover
    @media all and ($small)
      width: 36px
      height: 36px
    @media all and ($extraSmall)
      width: 30px
      height: 30px
    &--next
      transform: rotate(180deg)
  &__windows
    display: flex
    align-items: center
    justify-content: center
    position: relative
    width: 932px
    margin: 0 auto
    margin-top: 82px
    @media all and ($small)
      width: 685px
      margin-top: 52px
    @media all and ($extraSmall)
      width: 290px
      margin-top: 30px
  &__windows-wrapper
    position: relative
    z-index: 10
    width: 932px
    @media all and ($small)
      width: 685px
      object-fit: cover
    @media all and ($extraSmall)
      display: none
    &--mobile
      display: none
      @media all and ($extraSmall)
        object-fit: cover
        width: 290px
        display: block
        position: relative
        z-index: 10
  &__windows-img
    position: absolute
    z-index: 0
    object-fit: cover
    &--1
      bottom: 54px
      left: 25px
      z-index: 1
      width: 105px
      height: 182px
      @media all and ($small)
        width: 83px
        height: 139px
        bottom: 42px
        left: 17px
      @media all and ($extraSmall)
        display: none
    &--2
      left: 111px
      bottom: 67px
      width: 582px
      height: 365px
      @media all and ($small)
        width: 440px
        height: 285px
        left: 73px
        bottom: 46px
      @media all and ($extraSmall)
        width: 231px
        height: 148px
        left: 50%
        transform: translateX(-50%)
        bottom: 21px
    &--3
      right: 56px
      bottom: 37px
      z-index: 1
      width: 338px
      height: 251px
      @media all and ($small)
        width: 266px
        height: 200px
        right: 37px
        bottom: 21px
      @media all and ($extraSmall)
        display: none
  &__windows-desc
    padding: 20px
    position: absolute
    border-radius: 3px
    background: #2A2A3E
    display: grid
    gap: 6px
    min-width: 192px
    min-height: 149px
    top: 0
    right: 27px
    z-index: 10
    @media all and ($small)
      min-width: 146px
      min-height: 114px
      padding: 8px 17px
      top: -3px
      right: 18px
    @media all and ($extraSmall)
      display: none
  &__windows-desc-title
    color: #FFF
    font-size: 14px
    font-weight: 400
    line-height: 19px
    @media all and ($small)
      font-size: 13px
      ine-height: 17px
  &__windows-desc-text
    color: $orange
    font-size: 12px
    font-weight: 700
    line-height: 19px
    text-decoration-line: underline
    text-transform: uppercase
    @media all and ($small)
      font-size: 12px
      line-height: 17px
  &__windows-desc-link
    color: $orange
    font-size: 14px
    font-style: normal
    font-weight: 600
    line-height: 19px
    text-decoration-line: underline
    @media all and ($small)
      font-size: 13px
      ine-height: 17px
    &:active, &:focus, &:hover
      color: $orange
  &__map-block
    margin-top: 60px
    display: grid
    grid-auto-flow: column
    gap: 20px
    align-items: center
    @media all and ($medium)
      grid-template-columns: repeat(2,auto)
      grid-auto-flow: row
    @media all and ($extraSmall)
      grid-template-columns: 1fr
  &__map-img
    @media all and ($extraSmall)
      order: 3
  &__map-text
    color: #FFF
    font-size: 28px
    font-weight: 700
    line-height: 38px
    letter-spacing: -0.67px
    @media all and ($small)
      font-size: 24px
      line-height: 38px
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 36px
      order: 1
    span
      color: $orange
      text-decoration-line: underline
  &__map-btn
    color: $orange
    text-align: center
    font-size: 16px
    font-weight: 700
    line-height: 40px
    padding: 0 20px
    border-radius: 50px
    border: 2px solid $orange
    @media all and ($medium)
      align-self: start
      justify-self: start
      margin-top: -66px
    @media all and ($extraSmall)
      order: 2
      margin-top: 0

.market
  padding-top: 60px
  padding-bottom: 60px
  background: #F2F6FF
  @media all and ($small)
    padding-top: 30px
    padding-bottom: 50px
  @media all and ($extraSmall)
    padding-bottom: 40px
  &__bubble
    color: #FFF
    text-align: center
    font-size: 14px
    font-weight: 700
    line-height: 20px
    padding: 5px 30px
    border-radius: 3px
    background: #50B566
    width: fit-content
    margin: 0 auto
    @media all and ($small)
      font-size: 12px
  &__title-block
    padding-top: 45px
    padding-bottom: 45px
    display: flex
    flex-direction: column
    gap: 20px
    @media all and ($extraSmall)
      padding-bottom: 20px
      padding-top: 20px
  &__title
    color: $gray
    text-align: center
    font-size: 36px
    font-weight: 700
    line-height: 45px
    @media all and ($small)
      font-size: 32px
      line-height: 45px
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 36px
  &__subtitle
    color: $gray
    text-align: center
    font-size: 20px
    font-weight: 700
    line-height: 30px
    @media all and ($extraSmall)
      font-size: 16px
      line-height: 24px

  &__shop-block
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-content: space-between
    justify-items: center
    gap: 110px
    padding: 10px 0
    @media all and ($extraSmall)
      gap: 10px
  &__shop
    display: grid
    gap: 20px
    max-width: 214px
    @media all and ($extraSmall)
      max-width: 90px

  &__shop-text
    color: $gray
    text-align: center
    font-size: 28px
    font-weight: 600
    line-height: 45px
    @media all and ($small)
      font-size: 22px
      line-height: 45px
    @media all and ($extraSmall)
      font-size: 14px
      line-height: 20px
    &--ya
      @media all and ($extraSmall)
        display: none
    &--mob
      display: none
      @media all and ($extraSmall)
        display: block
  &__shop-btn
    margin-top: 40px
    color: #FFF
    text-align: center
    font-size: 16px
    font-weight: 700
    line-height: 40px
    border-radius: 3px
    background: #F44519
    padding: 0px 20px
    margin-right: auto
    margin-left: auto
    width: fit-content
    @media all and ($small)
      font-size: 14px
      margin-top: 10px

.design
  background: #fff
  padding-top: 60px
  padding-bottom: 60px
  @media all and ($small)
    padding-top: 50px
  @media all and ($extraSmall)
    padding-top: 30px
    padding-bottom: 30px
  &__title
    max-width: 545px
    color: $gray
    font-size: 36px
    font-weight: 700
    line-height: 45px
    padding-bottom: 10px
    @media all and ($small)
      font-size: 32px
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 36px

  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-content: space-between
    justify-items: center
    gap: 100px
    padding-top: 60px
    padding-bottom: 60px
    @media all and ($small)
      gap: 40px
      padding-top: 40px
      padding-bottom: 50px
    @media all and ($extraSmall)
      grid-template-columns: repeat(2,1fr)
      gap: 50px 30px
      padding-top: 10px
      padding-bottom: 30px
  &__item
    display: grid
    gap: 20px
  &__img-wrapper
    height: 120px
    max-width: 150px
    img
      object-fit: contain
    @media all and ($small)
      height: 120px
      max-width: 130px
    @media all and ($extraSmall)
      height: 90px
      max-width: 110px
  &__text
    color: $gray
    font-size: 18px
    font-weight: 700
    line-height: 24px
    @media all and ($small)
      font-size: 16px
      line-height: 24px
    span
      color: $orange
      text-decoration-line: underline
  &__btn-wrapper
    display: grid
    gap: 10px
    justify-items: center
  &__btn
    padding: 0px 20px
    color: #fff
    text-align: center
    font-size: 16px
    font-weight: 700
    line-height: 40px
    border-radius: 3px
    &--gray
      background: $gray
    &--orange
      background: $orange
    @media all and ($small)
      font-size: 14px

.sale
  padding-top: 30px
  padding-bottom: 30px
  background: $green
  &__title-wrapper
    display: grid
    grid-auto-flow: column
    gap: 20px
    justify-items: center
    justify-content: center
    align-items: center
    padding-bottom: 15px
    img
      @media all and ($extraSmall)
        max-width: 52px
  &__title
    color: #FFF
    font-size: 30px
    font-weight: 700
    line-height: 36px
    @media all and ($small)
      font-size: 26px
    @media all and ($extraSmall)
      font-size: 21px
  &__desc
    text-align: center
    color: #FFF
    font-size: 16px
    font-weight: 500
    line-height: 28px
    span
      font-weight: 700

.design-services
  padding-top: 50px
  padding-bottom: 55px
  background: $gray
  @media all and ($small)
    padding-top: 40px
  @media all and ($extraSmall)
    padding-top: 30px
    padding-bottom: 30px
  &__title
    color: #FFF
    font-size: 30px
    font-weight: 700
    line-height: 41px
    padding-bottom: 15px
    text-align: center
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 28px
  &__subtitle
    color: #FFF
    font-size: 16px
    font-weight: 400
    line-height: 28px
    text-align: center
  &__price
    color: #FFF
    font-size: 16px
    font-weight: 400
    line-height: 28px
    span
      font-weight: 700
    @media all and ($extraSmall)
      font-size: 14px
  &__content
    justify-self: center
    display: grid
    grid-template-columns: minmax(65px,76px) 1fr
    justify-items: center
    justify-content: center
    align-items: center
    gap: 20px
    padding-top: 50px
    @media all and ($small)
      padding-top: 30px
    @media all and ($extraSmall)
      grid-template-columns: 65px 1fr
      padding-top: 20px
  &__img-wrapper
    min-width: 76px
  &__price-block
    display: grid
    align-items: center

.client
  padding-top: 50px
  padding-bottom: 50px
  &__title-wrappper
    position: relative
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 15px
    &::before
      position: absolute
      content: ""
      height: 1px
      width: 100%
      left: 0
      top: 50%
      transform: translateY(-50%)
      z-index: 0
      background: #B7B6C7
  &__title
    color: $gray
    text-align: center
    font-size: 14px
    font-weight: 700
    line-height: 19px
    text-transform: uppercase
    position: relative
    padding: 0 20px
    background: #fff
    z-index: 2
    width: fit-content
  &__list
    padding-top: 40px
    padding-bottom: 50px
    display: grid
    grid-template-columns: repeat(6, 1fr)
    align-items: center
    justify-content: space-between
    gap: 30px 50px
    justify-items: center
    @media all and ($small)
      grid-template-columns: repeat(4, 1fr)
    @media all and ($extraSmall)
      grid-template-columns: repeat(3, 1fr)
      gap: 20px 30px
      padding-top: 15px
      padding-bottom: 30px
.form
  &__block
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 20px 30px
    padding-top: 30px
    padding-bottom: 30px
    @media all and ($extraSmall)
      grid-template-columns: 1fr
      padding-top: 15px
      padding-bottom: 30px
  &__input-block
    &:first-child
      grid-column: 1/3
      @media all and ($extraSmall)
        grid-column: 1/2
  &__wrapper
    border-radius: 3px
    border: 3px dashed $orange
    padding: 40px
    @media all and ($small)
      padding: 30px
    @media all and ($extraSmall)
      padding: 20px 15px
      margin-left: -18px
      margin-right: -18px
  &__title
    color: $gray
    font-size: 30px
    font-weight: 700
    line-height: 41px
    @media all and ($small)
      font-size: 26px
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 32px
  input, textarea
    width: 100%
    padding: 12px 40px
    background-repeat: no-repeat
    background-position: 10px center
    border-radius: 3px
    border: 1px solid #B7B6C7
    color: $gray
    font-size: 14px
    font-weight: 400
    line-height: 14px
    resize: none
    &:active, &:focus, &:hover
      border: 1px solid #B7B6C7
      outline: none
    &::placeholder
      color: #757575
      font-family: "Open Sans", sans-serif
      font-size: 14px
      font-weight: 400
      line-height: 14px
  input[name="name"]
    background-image: url(/assets/img/f1.svg)
  input[name="email"]
    background-image: url(/assets/img/f3.svg)
  input[name="tel"]
    background-image: url(/assets/img/f2.svg)
  textarea[name='question']
    background-image: url(/assets/img/callq.svg)
  textarea
    max-height: 42px
  &__btn
    padding: 0px 20px
    color: #fff
    text-align: center
    font-size: 16px
    font-weight: 700
    line-height: 40px
    border-radius: 3px
    background: $orange
    @media all and ($small)
      font-size: 14px
  &__btn-wrapper
    display: flex
    justify-content: center

  &--call
    .form__block
      grid-template-columns: 1fr
      padding-top: 20px
    .form__input-block
      &:first-child
        grid-column: 1/2

.contacts
  padding-top: 50px
  background: #F5F6F9
  @media all and ($extraSmall)
    padding-top: 30px
  &__title
    color: $gray
    font-size: 36px
    font-weight: 700
    line-height: 45px
    @media all and ($extraSmall)
      font-size: 21px
      line-height: 28px
  &__title-wrapper
    padding-bottom: 20px
  &__desc-wrapper
    padding-bottom: 13px

  &__desc
    color: $gray
    font-size: 18px
    font-style: italic
    font-weight: 400
    line-height: 24px
  &__list
    border-top: 1px solid #B7B6C7
    padding-top: 10px
    padding-bottom: 40px
    display: grid
    gap: 10px 20px
    justify-content: space-between
    grid-template-areas: "city . call" "adress mail tel"
    @media all and ($extraSmall)
      padding-bottom: 30px
      grid-template-areas: "city" "adress" "mail" " . " "call" "tel"
  &__city
    color: $gray
    font-size: 18px
    font-weight: 700
    line-height: 24px
  &__adress
    color: $gray
    font-size: 14px
    font-weight: 400
    line-height: 19px
    span
      color: $orange
  &__call
    color: $orange
    font-size: 14px
    font-style: italic
    font-weight: 400
    line-height: 19px
    &:active, &:focus, &:hover
      text-decoration-line: underline
      color: $orange
  &__mail
    color: $gray
    font-size: 14px
    font-weight: 400
    line-height: 19px
    a
      color: $orange
      &:active, &:focus, &:hover
        text-decoration-line: underline
        color: $orange
  &__tel
    color: $gray
    font-size: 14px
    font-weight: 400
    line-height: 19px
    a
      color: $gray
      &:active, &:focus, &:hover
        text-decoration-line: underline
        color: $gray
  &__map
    height: 313px
.contacts__item--city
  grid-area: city
.contacts__item--call
  grid-area: call
.contacts__item--adress
  grid-area: adress
.contacts__item--mail
  grid-area: mail
.contacts__item--tel
  grid-area: tel
  justify-self: end
  @media all and ($extraSmall)
    justify-self: start

.footer
  padding-top: 30px
  padding-bottom: 37px
  &__area
    display: grid
    grid-template-areas: "logo ." "copy conf" "company social"
    justify-content: space-between
    gap: 12px
    @media all and ($extraSmall)
      grid-template-areas: "logo logo" "conf conf" "copy copy" "company social"
      justify-content: center
      gap: 12px 100px
      justify-items: center
  &__copy-text
    color: $gray
    font-size: 14px
    font-style: italic
    font-weight: 400
    line-height: 19px
  &__company-link
    color: $orange
    font-size: 14px
    font-style: italic
    font-weight: 400
    line-height: 19px
    &:active, &:focus, &:hover
      color: $orange
      text-decoration-line: underline
  &__conf-link
    color: #9797A0
    font-size: 14px
    font-style: italic
    font-weight: 400
    line-height: 19px
    text-decoration-line: underline
    transition: color $anim
    &:active, &:focus, &:hover
      color: $gray
  &__social-wrapper
    display: grid
    grid-auto-flow: column
    gap: 35px
    justify-content: start
  &__social-link
    .svg path
      transition: fill $anim
    &:hover svg path, &:focus svg path, &:active svg path
      fill: $orange

.footer__logo
  grid-area: logo
  padding-bottom: 10px
.footer__copy
  grid-area: copy
.footer__company
  grid-area: company
.footer__conf
  grid-area: conf
.footer__social
  grid-area: social

.tippy-box
  border-radius: 3px
  padding: 20px
.tippy-content
  padding: 0

.call
  &__title
    color: $gray
    font-size: 18px
    font-weight: 700
    line-height: 21px
    padding-bottom: 27px
  &__desc
    color: $gray
    font-size: 14px
    font-weight: 400
    line-height: 17px

.checkbox
  &__input
    display: none !important
  &__item label
    display: flex
    position: relative
    cursor: pointer
    margin: 0
    text-align: center
    align-items: flex-start
  &__custom
    display: block
    position: relative
    width: 17px
    height: 17px
    border-radius: 3px
    border: 1px solid #B7B6C7
    text-align: center
    margin-right: 8px
  &__custom::before
    content: url(/assets/img/check.svg)
    text-align: center
    position: absolute
    top: -23%
    left: 0
    right: 0
    bottom: 0
    opacity: 0
    transition: opacity 0.3s ease-in-out
  &__input:checked ~ .checkbox__custom
    background: #95959F
  &__input:checked ~ .checkbox__custom::before
    opacity: 1
  &__text
    display: flex
    align-items: flex-start
    flex-direction: column
    font-weight: 400
    font-size: 13px
    line-height: 110%
    color: $gray
    a
      color: $orange
      &:active, &:hover, &:focus
        text-decoration-line: underline
